@inject IStringLocalizer<App> Localizer

<div class="top-row navbar navbar-dark" style="padding-left: 4px">
    <a class="navbar-brand" href="">@Localizer["AppName"] @AppService.Version</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localizer["Home"]
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="loco">
                <span class="oi oi-document" aria-hidden="true"></span> @Localizer["Loco"]
            </NavLink>
        </li>
        @*<li class="nav-item">
            <NavLink class="nav-link" href="passenger">
                <span class="oi oi-document" aria-hidden="true"></span> @Localizer["PassengerWagon"]
            </NavLink>
        </li>*@
        <li class="nav-item">
            <NavLink class="nav-link" href="cargowagon">
                <span class="oi oi-document" aria-hidden="true"></span> @Localizer["CargoWagon"]
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="references">
                <span class="oi oi-document" aria-hidden="true"></span> @Localizer["References"]
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
