@inject IStringLocalizer<App> Localizer

@if (Data is null)
{

}
else
{
    <div style="display:block">
        <div class="fred-sticker">
            <div style="height:15mm;border:1px">
            </div>
            <div class="loco-label" style="background-color:@Data.BackColor; color: @Data.BackColor.TextColor()">
                <div class="label-lg" style="font-size: @Data.VehicleClass.FredStickerLocoClassFontSize()"> @Data.OperatorSignature</div>
                <div class="label-lg" style="font-size: @Data.VehicleClass.FredStickerLocoClassFontSize()">@Data.VehicleClass</div>
                <div class="label-lg" style="font-size: @Data.VehicleNumber.FredStickerLocoNumberFontSize()">@Data.VehicleNumber</div>
                <div class="label-sm">@Data.ModelManufacturer</div>
            </div>
            @if (Data.Address.HasValue)
            {
                <div class="dcc-address">
                    DCC <span>@Data.Address</span>
                </div>
            }
            <div style="color:@Data.ForeColor">
                @foreach (var function in Data.Functions.Take(9).Where(f => f.ShowOnFredSticker && !string.IsNullOrWhiteSpace(f.Text)))
                {
                    <div class="function">
                        <div class="function-key">F @function.Key</div>
                        <div class="function-text">@function.Text</div>
                    </div>
                }
            </div>
            <div class="owner-name">
                @Localizer["Owner"]<br />
                @Owner?.OwnerName
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Loco? Data { get; set; }
    [Parameter] public Owner? Owner { get; set; }
}
