@if (Marking is not null)
{
    @if (Marking.UseMarking)
    {
        <div class="owner-marking">
            @if (HasInventoryNumber)
            {
                <div class="inventory-number" style="background-color: @Marking.Color1; color: @Marking.Color1.TextColor()">
                    <div style="padding-top: 0.3cm">
                        @Marking.InventoryNumber
                    </div>
                </div>
            }
            else if (Marking.Icon is not null)
            {
                <div style="padding-top: 0.2cm">
                    <img style="height: 1.0cm" src="data:@Marking.Icon.ContentType;base64,@Marking.Icon.Base64data"/>
                </div>                
            }
            else if (HasIconHref)
            {
                <div style="padding-top: 0.2cm">
                    <img style="height: 1.0cm" src="@Marking.IconHref"/>
                </div>
            }
            else if(HasTextLabel)
            {
                <div style="padding-top: 0.2cm">
                    <span class="owner-label">@Marking.TextLabel</span>
                </div>              
            }
            else
            {
                <div style="padding-top: 0.3cm">
                    <span class="inventory-color" style="background-color: @Marking.Color1">&nbsp;</span>
                    <span class="inventory-color" style="background-color: @Marking.Color2">&nbsp;</span>
                    <span class="inventory-color" style="background-color: @Marking.Color3">&nbsp;</span>
                </div>
            }
        </div>
    }
}

@code {
    [Parameter] public Marking? Marking { get; set; }

    bool HasInventoryNumber => !string.IsNullOrWhiteSpace(Marking?.InventoryNumber);
    bool HasIconHref => Marking?.IconHref?.StartsWith("http") == true;
    bool HasTextLabel => Marking?.TextLabel?.HasValue() == true ;
    bool HasColor(string? color) => !string.IsNullOrWhiteSpace(color) && !color.Equals("#ffffff", StringComparison.OrdinalIgnoreCase);
}
