@inject IStringLocalizer<App> Localizer

@if (Data is not null && Owner is not null)
{
    <div style="display:flex;flex-direction:column">
        <div class="card" style="border-color: @Data.FrameColor;">
            <div class="card-info" style="flex-direction: column;">
                <div class="heading" style="font-size: @Data.Identification().LongHeadingFontSize();">
                    @Data.Identification()
                </div>
                <div class="picture-front">
                    <img class="picture-front-image" src="@Data.ModelImageUrl" />
                </div>
                <div style="display: flex; flex-direction: row">
                    <div style="display: flex; flex-direction: column">
                        <div class="marking">
                            <div class="label">@Localizer.Label("Marking")</div>
                            <OwnerMarking Marking="@Data.Marking" />
                        </div>
                        <div class="owner">
                            <div class="label">@Localizer.Label("Owner")</div>
                            @Owner.OwnerName<br />
                            @Owner.EmailAddress<br />
                            @Owner.PhoneNumber
                        </div>
                    </div>
                    <div class="model-make">
                        <div class="label">@Localizer.Label("Manufacturer")</div>
                        <div>@Data.ModelManufacturer</div>
                    </div>
                    <div class="model-number">
                        <div class="label">@Localizer.Label("Catalog number")</div>
                        <div>@Data.ModelNumber</div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: block; transform: rotate(180deg); border-color: @Data.FrameColor;" class="card">
            <div class="card-info" style="flex-direction: row;">

                <div style="width: 8.4cm">
                    <div class="heading" style="font-size: @Data.Identification().ShortHeadingFontSize() ">
                        @Data.Identification()
                    </div>
                    <div style="display: flex; flex-direction: row; border-bottom: 1px solid black">
                        <div style="border-right: 1px solid black" class="property">
                            <span class="label">@Localizer["Epoch"]</span><br />
                            <span class="value">@Data.Epoch</span>
                        </div>
                        <div class="property">
                            <span class="label">@Localizer["OperatingPeriodInThisDesign"]</span><br />
                            <span class="value">@Data.OperatingFromYear - @Data.OperatingUptoYear</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; border-bottom: 1px solid black">
                        <div style="border-right: 1px solid black" class="property">
                            <span class="label">@Localizer["LoadLimit"]</span><br />
                            <span class="value-sm">@Data.LoadLimit t</span>
                        </div>
                        <div class="property">
                            <span class="label">@Localizer["LoadVolume"]</span><br />
                            <span class="value-sm">@Data.LoadVolume m³</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; border-bottom: 1px solid black">
                        <div style="border-right: 1px solid black" class="property">
                            <span class="label">@Localizer["TopSpeedShort"]</span><br />
                            <span class="value-sm">@Data.MaxSpeed  @Localizer[Data.SpeedUnit.ToString()]</span>
                        </div>
                        <div class="property">
                            <span class="label">@Localizer["LengthShort"]</span><br />
                            <span class="value-sm">@Data.Length m</span>
                        </div>
                    </div>
                    <div class="picture back">
                        <img class="picture back image" src="@Data.OriginalImageUrl" />
                    </div>
                </div>
                <div class="pocket">
                    @if (@Data.HasHomeStation)
                    {
                        <div class="homestation" style="color: @Data.HomeStation.Region.Color().TextColor(); background-color: @Data.HomeStation.Region.Color();">
                            <div class="pocket-text">@Localizer["WaybillOrVehicleSchedule"]</div>
                            <div style="padding-top: 0.5cm; font-size: 60%">@Localizer.Label("Home station")</div>
                            <div>@Data.HomeStation.Name</div>
                            @if (!string.IsNullOrWhiteSpace(Data.HomeStation.CountryCode))
                            {
                                <div>[@Data.HomeStation.CountryCode]</div>
                            }
                        </div>
                    }
                    else
                    {
                        <div>
                            <div class="pocket-text" style="padding-top: 3cm">
                                @Localizer["WaybillOrVehicleSchedule"]
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public CargoWagon? Data { get; set; }
    [Parameter] public Owner? Owner { get; set; }

}
